.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1 3px -2px black;
}

.nav-logo{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.nav-menu{
    display: flex;
justify-content: space-between;    
    gap: 15px;
}

.nav-menu ul{
    display: flex;
    gap: 10px;
}
.nav-menu li{
    list-style: none;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}


